h1{
    text-align: center;
}
canvas {     
    border: 1px solid black;
    border-radius: 0px;
    transform-origin: top left;
    background-color: whitesmoke;
}

body{
    background-color: rgb(12, 56, 56);
    color:teal;
    text-align: center;
    margin:0;
}
.cl1{
    color:rgb(99, 170, 29);
}
.cl2{
    color:rgb(223, 223, 78);
}
.cl3{
    color:rgb(93, 93, 211);
}
